# Object files
*.slo
*.o
*.lo
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Static Libraries
*.a
*.la
*.lib

# Dynamic Libraries
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# Build directory
build/
